.mainContainer {
  background-color: var(--color-primary);
  width: 100%;
  height: calc(100% - 45px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  padding: 10px 0;
  overflow: auto;
  max-width: 1280px;
}
