@import './commonStyles.module.css';

.container {
  composes: mainContainer;
}

.form {
  padding: 10px;
  margin-bottom: 20px;
}

.form fieldset {
  border: 0;
}

.formRow {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  margin: 10px 0;
}

.formRow label {
  width: 50%;
}

.formRow input {
  width: 50%;
  margin: 0px 10px;
}

.formRadioOption label {
  border: 1px solid black;
  padding: 7px 20px;
  cursor: pointer;
}

.formRadioOption input[type='radio'] {
  opacity: 0;
  height: 0;
  width: 0;
}

.formRadioOption input[type='radio']:checked + label {
  background-color: var(--color-secondary);
  color: white;
}

.btnLogin {
  padding: 7px 11px;
}

.formFailure {
  margin: 10px;
  color: red;
}
