.container {
  background-color: var(--color-primary);
  width: 100%;
  height: calc(100% - 45px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  padding: 10px 0;
  overflow: auto;
}

.event-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 15px;
}

.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-width: 300px;
  padding: 5px;
  gap: 5px;
}


@media (min-width: 768px) {
  .container {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    max-width: 1280px;
  }

  .event-container {
    width: 75%;
    height: 100%;
  }

  .details-container {
    width: 25%;
    height: 100%;
  }
}