.container {
  background-color: var(--color-primary);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}

.event-container {
  width: 100%;
  height: 100%;
}

.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 0, 0, 0.2);  /* TEMPORARY FOR DEV */
  width: 100%;
  min-width: 300px;
}


@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
  }

  .event-container {
    width: 75%;
  }

  .details-container {
    flex-direction: row;
    width: 25%;
    height: 100%;
  }
}