.container {
  background-color: var(--color-secondary);
  color: white;
  /* width: 90%; */
  min-height: 100px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}