.container {
  background-color: var(--color-secondary);
  width: 90%;
  min-height: 100px;
  border-radius: 10px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.list {
  list-style: none;
}